		* {
			margin: 0;
		}
		body
		{
			height: 100%;
			font-family: "新細明體", "細明體", "標楷體", Arial, Tahoma  !important;
			
		}
		div#banner
		{
			height: 100px;	
			background: url(../images/title_bg.jpg) repeat-x;
		   overflow:hidden;
		   border: 1px solid gray;
		  
		}
		
		img#bliimg
		{
		   float: left;
		}
		div#duserinfo
		{
			margin: 5px 5px 5px 80%;
			font-size: 1em;
		}
		
		div#menu
		{
			height: 30px;
			/*border: 1px solid red;	*/
		}
		div#content
		{
			position: absolute;
			overflow: auto;
			top: 133px;
			bottom: 38px;
			right: 0px;
			left: 0px;
			padding: 10px 5px 5px 5px;
			border: 1px solid gray;
		}
		div#filler
		{
			height: 40px;
			/*background-color: yellow;*/
		}
		div#footer
		{
			position: absolute;
			left: 0px;
			right: 0px;
			bottom: 0px;
			height: 30px;
			border-style: inset outset outset inset;
			/*border-style: ridge;*/
			line-height: 30px;
		}
		div#inner
		{
			height: 60px;
			width: 200px;
			border: 1px solid blue;
		}
		
		p#pagedowntime{
			margin: 5px;
			text-align: right;
			/*border: 1px solid red;*/
		}
		.button
		{
    		font-weight: bold;
    		cursor: pointer;
    		color: #FFFFFF;
    		border-style: none;
    		height: 1.75em;
    		width: 4.9em;
    		text-align: center;
    		background:url(../images/btn_64.gif) center left no-repeat;
		}

		.button_90
		{
    		font-weight: bold;
    		cursor: pointer;
    		color: #FFFFFF;
    		border-style: none;
    		height: 1.75em;
    		width: 6.8em;
    		text-align: center;
    		background:url(../images/btn_90.gif) center left no-repeat;
		}

		.button_120
		{
    		font-weight: bold;
    		cursor: pointer;
    		color: #FFFFFF;
    		border-style: none;
    		height: 1.75em;
    		width: 9em;
    		text-align: center;
    		background:url(../images/btn_120.gif) center left no-repeat;
		}
		.button_150
		{
    		font-weight: bold;
    		cursor: pointer;
    		color: #FFFFFF;
    		border-style: none;
    		height: 1.75em;
    		width: 11.3em;
    		text-align: center;
    		background:url(../images/btn_150.gif) center left no-repeat;
		}
		p.buttonline{
			margin: 5px;
			text-align: right
		}
		span#unospan, span#unamespan{
			display: inline-block;
			width: 30%;
			/*border: 1px solid red;*/
		}